/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: 
   Date:   

   Filename: sb_validate.css

*/

/* Validation Styles */
input:not([type="radio"]):focus {
	background-color: rgb(255, 218, 165);
}
input:not([type="radio"]):focus:valid {
	background-color: rgb(215, 245, 215);
	background-image: url(sb_valid.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}
input:not([type="radio"]):focus:invalid {
	background-color: rgb(255, 245, 215);
	background-image: url(sb_invalid.png);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}
